/* styles.css */

/* Corpo da Página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/image/background-1829559_1920.png');
}

/* Cabeçalho */
.header {
    background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: groove 1em rgb(11, 100, 100);
  border-radius: 2em;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.header .logo {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header .nav-links a {
    text-decoration: none;
    color: #ffffff;
}

.logout {
    background-color: #eeeeee;
    color: #0a0a0a;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 1100px;
}

/* Container Principal */
.container {
    flex: 1;
    display:inline-flexbox;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

h2 {
    text-align: center;
    margin-top: 0;
}

form {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500;
}

form label {
    display: block;
    margin: 1rem 0 0.5rem;
}

form input[type="number"],
form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.submit-btn:hover {
    background-color: #45a049;
}

/* Rodapé */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: auto;
}
